.colorStyle {
  color: #636363;
}

/* .bold {
  font-weight: bold;
} */

input[type="submit"] {
  background-color: #05668d !important;
  color: white !important;
  font-weight: 900;
  cursor: pointer;
}

input[value="Enviar"] {
  color: aqua !important;
}
